ul {
    list-style-type: none;
}

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    width: 936px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right:15px;

}