a 
{
   text-decoration:none   
}
.header-link
{
    font-family: 'Playfair Display';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
color: #7D7D7D;
}
.header-link:hover
{
    color: #03A9F4;
}
.card-title
{
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 16px;
color: #B4AD9E;
}
.main-chapter
{
    font-family: 'Playfair Display';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 40px;
color: #626262;
}
.main-tekst
{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #626262;   
}
.button
{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #626262;  
}
